<script>
  import Icon from '$lib/ui/icon/index.svelte';
  export let name;
  export let label = '';
  export let placeholder = null;
  export let value = null;
  export let checked = null;
  export let icon = null
  export let step = null;
  export let type = null;
  export let disabled = null;
</script>

<div class="">
  <label for={name}>
    {label}
  
    <div class="input">
      {#if icon}
        <span class="icon">
          <Icon name={icon} size=18/>
        </span>
      {/if}
  
      {#if type == 'text'}
        <input type="text" {name} {placeholder} {disabled} bind:value>
  
      {:else if type == 'textarea'}
        <textarea {name} {placeholder} {disabled} bind:value></textarea>
  
      {:else if type == 'email'}
        <input type="email" {name} {placeholder} {disabled} bind:value>
  
      {:else if type == 'date'}
        <input type="date" {name} {placeholder} {disabled} bind:value>
  
      {:else if type == 'number'}
        <input type="number" {name} {placeholder} {step} {disabled} bind:value>
  
      {:else if type == 'password'}
        <input type="password" {name} {placeholder} autocomplete="on" {disabled} bind:value>
  
      {:else if type == 'select'}
        <input type="select" {name} {placeholder} autocomplete="on" {disabled} bind:value>
  
      {:else if type == 'checkbox'}
        <input type="checkbox" {name} {disabled} bind:checked>
  
      {:else if type == 'submit'}
        <input class="button" type="submit" {name} {disabled} bind:value>
  
      {/if}
    </div>
  </label>
</div>

<style lang="postcss">
  label {
    @apply leading-5 text-sm;
  }
  input {
    @apply w-full border border-zinc-200 rounded-r-sm px-3 h-8 py-1 text-sm;
  }
  .icon {
    @apply flex items-center justify-center border border-r-0 rounded-l-sm px-3 text-zinc-300;
  }
  .input {
    @apply flex text-sm leading-6 text-zinc-900 pt-2;
  }
  textarea {
    @apply w-full text-sm h-64 p-2 border border-zinc-300;
  }
  input.button {
    @apply bg-zinc-800 mt-2;
  }
  :focus {
    @apply shadow-inner;
  }
  :disabled {
    @apply border-0 shadow-none;
  }
</style>