<script>

//   import { supabaseClient } from '$lib/db';
//   import { session } from '$app/stores';

// let loadedData = [];
// async function loadData() {
//   const { data } = await supabaseClient
//     .from('departments')
//     .select('*')
//   loadedData = data;
// }
// $: {
//   if ($session.user && $session.user.id) {
//     loadData();
//   }
// }

  export let name;
  // export let label = '';
  // export let placeholder = null;
  // export let value = null;
  // export let icon = null
  // export let type = 'select'
  // export let items = [];
  // export let item;
  export let selected;
  export let resource;
</script>

<div>
  <label for={name}>{name}</label>
  <select {name} bind:value={selected}>
    {#each resource as {id, name, abbr_name, username}}
    <option value={id}>
      {#if name}
      {name}
      {:else if abbr_name}
      {abbr_name}
      {:else if username}
      {username}
      {/if}
    </option>
    {/each}
  </select>
</div>

<!-- <select bind:value={selected} on:change={() => item = ''}>
  {#each items as item}
    <option value={item.id}>
      {item.name}
    </option>
  {/each}
</select> -->
    
<style lang="postcss">
  label {
    @apply leading-5 text-sm;
  }
  select {
    @apply border border-zinc-300 bg-white rounded-sm w-full shadow-inner px-2 py-1 h-8 text-sm mt-2;
  }
</style>