@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {

  .pos {
    @apply p-24 pr-12;
  }

  .button {
    @apply flex items-center px-2.5 py-1.5 text-sm font-medium rounded shadow-sm text-white bg-slate-900;
  }

  .h-calc {
    min-height: calc(100vh - 3rem);
  }

}