<script>
	import { goto } from '$app/navigation';
	import { session } from '$app/stores';
	import { supabaseClient } from '$lib/db';
	import { SupaAuthHelper } from '@supabase/auth-helpers-svelte';

  import { panel } from '$lib/stores';

  import Button from '$lib/ui/button/index.svelte';
  import SidePanel from '$lib/ui/panel/side.svelte';
  import Auth from '$lib/ui/auth';

	const onUserUpdate = async (user) => {
		// if (user) await goto('/profile');
	};

  function switchPanel(view) {
    if ($panel.isOpen && $panel.view == view) {
      $panel.isOpen = false
    } else {
      $panel.view = view
      $panel.isOpen = true
    };
  };

</script>


<SupaAuthHelper {supabaseClient} {onUserUpdate} {session} >

{#if $session.user && $session.user.id}
  <header class="fixed h-12 w-full bg-zinc-300 flex items-center justify-between px-2">
    <Button primary nav icon="home" on:click={() => goto('/')}></Button>

    <div class="flex space-x-2">
      <Button primary nav icon="clock" on:click={() => switchPanel('time')}></Button>
      <Button primary nav icon="plusCircle" on:click={() => switchPanel('data')}></Button>
      <Button primary nav icon="compass" on:click={() => switchPanel('feedback')}></Button>
    </div>
  </header>
    
  <main class="flex h-calc">
    <nav class="fixed top-12 w-12 h-calc bg-zinc-200 flex flex-col items-center justify-between py-2">
      <!-- TODO: Button-Group Component -->
      <div class="space-y-2">
        <Button primary nav icon="activity" on:click={() => goto('/time')}></Button>
        <Button primary nav icon="database" on:click={() => goto('/data')}></Button>
      </div>
      <Button primary nav icon="user" on:click={() => goto('/auth')}></Button>    
    </nav>

    <section class="w-full h-calc ml-12 mt-12 flex">
      <slot />
    </section>
  </main>

  <SidePanel></SidePanel>

{:else}
  <div class="absolute z-50 w-screen h-screen flex items-center justify-center">
    <div class="flex flex-col w-96">
      <h1 class="text-2xl mb-10">CAN Time-keeping Prototype</h1>
      <Auth {supabaseClient} />
    </div>
  </div>
{/if}
</SupaAuthHelper>


<style lang="postcss">
@import '$lib/global.css';
</style>