<script>
	import Auth from '$lib/ui/auth/index';
	import { error, isLoading } from '@supabase/auth-helpers-svelte';
	import { supabaseClient } from '$lib/db';
	import { session } from '$app/stores';
  import { goto } from '$app/navigation';

	let data = [];
  let profile = {};

  async function loadData() {
		const { data:loadedData } = await supabaseClient
      .from('departments')
      .select('*')

    const { data:profileData } = await supabaseClient
    .from('profiles')
    .select('*')
    .eq('id', $session.user.id)
    .single()

    if (data && profileData) {
      profile = profileData;
      data = loadedData;
    }
	}
	$: {
		if ($session.user && $session.user.id) {
			loadData();
		}
	}

  function navigate(url) {
    goto(url);
  }

  let options = [
    {
      url: '/time/sheets',
      text: 'Edit Time Sheets'
    },
    {
      url: '/data/reports',
      text: 'Generate Reports'
    },
    {
      url: '/data/table',
      text: 'Explore Data'
    }
  ];
  let metrics = [1,2,3,4];
</script>

{#if !$session.user}
  <div class="w-screen h-screen flex items-center justify-center">
    <div class="flex flex-col w-96">
      <h1 class="text-2xl mb-8">CAN Time-keeping Prototype</h1>
      {#if $error}
      <!-- <p>{$error.message}</p> -->
      {/if}
      <!-- <h1>{$isLoading ? `Loading...` : `Loaded!`}</h1> -->
      <Auth {supabaseClient} />
    </div>
  </div>
  {:else}

<div class="p-12 w-full flex flex-col space-y-4">

  <h1 class="text-2xl -mt-2 mb-2">
    Welcome, {profile.first_name}
  </h1>

  <div class=" grid grid-cols-3 gap-6">
    {#each options as i}
    <div class="bg-zinc-600 hover:bg-zinc-900 text-zinc-100 h-36 p-3 flex flex-col items-center justify-center" on:click={() => navigate(i.url)}>
      <h3 class="text-xl w-1/2 text-center">
        {i.text}
      </h3>
    </div>
    {/each}
  </div>

  <div class="border-t-2 border-dashed border-zinc-100"></div>

  <div class="h-96 grid grid-cols-3 gap-6">
    <div class="col-span-2 bg-zinc-100 hover:bg-zinc-200 p-3">
      <h3 class="text-lg">
        Bar Chart
      </h3>
    </div>
    <div class=" bg-zinc-100 hover:bg-zinc-200 p-3">
      <h3 class="text-lg">
        List
      </h3>
    </div>
  </div>

  <div class="border-t-2 border-dashed border-zinc-100"></div>
 
  <div class="grid grid-cols-4 gap-6">
    {#each metrics as i}
    <div class="bg-zinc-100 hover:bg-zinc-200 h-36 p-3 flex flex-col items-center justify-center space-y-3">
      <h3 class="text-4xl">
        {i}
      </h3>
      <p>
        Metric
      </p>
    </div>
    {/each}
  </div>

</div>
{/if}