<!-- <script context="module">
  export const load = async ({ fetch, session }) => {
    // if (!session?.user?.id) {
    // }

    const res = await fetch('/orgs.json')

    if (res.ok) {
      const orgs = await res.json();

      return {
        props: { orgs }
      }
    }
  }
</script> -->


<script>
  import { supabaseClient } from '$lib/db';
  import { onMount } from 'svelte';
    
  let clients = [];
  let loading;

  let order = {
    column: 'id',
    options: {
      ascending: true
    }
  }

  async function getClients() {
    let { data } = await supabaseClient
      .from('organisations')
      .select(`
        *,
        jobs (*)
      `)

    if (data) {
      clients = data
      console.log(clients);
    }
  };

  // .order(order.column, {
  //       nullsFirst: false,
  //       ascending: order.options.ascending
  //     })
  
  onMount(() => {
    getClients()
  });

  function reorder(column, flow) {
    order.column = column;
    order.options.ascending = flow;
    getClients()
  }
</script>

<main class="w-full lg:w-4/6 mx-auto">
  <div class="flex justify-between items-center pb-6">
    <h2 class="text-xl">
      Current Work
    </h2>

    <div>
      <button class="text-sm bg-zinc-50 hover:bg-zinc-100 rounded-md cursor-pointer inline-flex px-2 py-1">
        Presets
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
      
      <button class="text-sm bg-zinc-50 hover:bg-zinc-100 rounded-md cursor-pointer inline-flex px-2 py-1">
        History
      </button>
    </div>
  </div>
   <section>

    <div class="pb-24 overflow-x-scroll">
      <table class="min-w-full text-sm divide-y divide-zinc-200">
        <thead>
          <tr>
            <th class="p-4 font-medium text-left text-zinc-900 whitespace-nowrap">
              <div class="flex items-center justify-between">
                Client
                <div class="space-x-1">
                  <button on:click={() => reorder('abbr_name', true)} class="bg-zinc-50 hover:bg-zinc-100 rounded-md cursor-pointer inline-flex px-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd" />
                    </svg>
                    A
                  </button>
                  <button on:click={() => reorder('abbr_name', false)} class="bg-zinc-50 hover:bg-zinc-100 rounded-md cursor-pointer inline-flex px-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                    Z
                  </button>
                </div>
              </div>
            </th>
            <th class="p-4 font-medium text-left text-zinc-900 whitespace-nowrap">
              <div class="flex items-center justify-between">
                <button on:click class="bg-zinc-50 hover:bg-zinc-100 rounded-md cursor-pointer inline-flex px-2 py-0.5">
                Orders
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </button>
                  <button on:click={() => reorder('abbr_name', false)} class="bg-zinc-50 hover:bg-zinc-100 rounded-md cursor-pointer inline-flex px-1 py-0.5">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>                    
                  </button>
              </div>
            </th>
            <th class="p-4 font-medium text-left text-zinc-900 whitespace-nowrap">
              <div class="flex items-center">
                <button on:click class="bg-zinc-50 hover:bg-zinc-100 rounded-md cursor-pointer inline-flex px-2 py-0.5">
                Status
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </button>
              </div>
            </th>
            <th class="p-4 font-medium text-zinc-900 whitespace-nowrap text-center">
              <span class="">
                Budget
              </span>
              <div class="flex text-center text-zinc-700 divide-x divide-zinc-100 text-xs mt-4">
                <span class="w-1/2">
                  Money
                </span>
                <span class="w-1/2">
                  Time
                </span>
              </div>
            </th>
            <th class="p-4 font-medium text-left text-zinc-900 whitespace-nowrap">
              <div class="flex items-center">
                <button on:click class="bg-zinc-50 hover:bg-zinc-100 rounded-md cursor-pointer inline-flex px-2 py-0.5">
                Lead
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </button>
              </div>
            </th>
            <th class="p-4 font-medium text-left text-zinc-900 whitespace-nowrap">
              <div class="flex items-center">
                Code
              </div>
            </th>
          </tr>
        </thead>
    
        <tbody class="divide-y divide-zinc-100">
          {#each clients as client (client.id)}
          <tr class="divide-x divide-zinc-50">
            <td class="p-4 font-medium whitespace-nowrap {client.jobs.length == 0 ? 'text-zinc-400' : 'text-zinc-900' }">
              {client.abbr_name}
            </td>
            <td class="p-4 text-zinc-700">
              <ul class="space-y-4">
                {#each client.jobs as job}
                  <li class="flex space-x-3 items-center">
                    <span>
                      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                    </span>
                    <span>
                      {job.name}
                    </span>
                  </li>
                {/each}
              </ul>
            </td>
            <td class="p-4 text-zinc-700 whitespace-nowrap">
              <ul class="space-y-4">
                {#each client.jobs as job}
                <li class="h-6 flex justify-center">
                  <strong
                  class="bg-yellow-100 text-yellow-700 px-3 py-1 rounded text-xs font-medium"
                >
                  status
                </strong>
                </li>
                {/each}
              </ul>
            </td>
            <td class="p-4 text-zinc-700 whitespace-nowrap">
              <div class="flex">
                <ul class="list-inside space-y-4 w-1/2">
                  {#each client.jobs as job}
                  <li class="h-6 flex justify-center border-r border-zinc-100">
                    <strong
                    class="px-3 py-1 rounded text-xs font-medium"
                  >
                  £0/£n
                  </strong>
                  </li>
                  {/each}
                </ul>
                <ul class="list-inside space-y-4 w-1/2">
                  {#each client.jobs as job}
                  <li class="h-6 flex justify-center">
                    <strong
                    class="px-3 py-1 rounded text-xs font-medium"
                  >
                  0/100h
                  </strong>
                  </li>
                  {/each}
                </ul>
              </div>
            </td>
            <td class="p-4 text-zinc-700 whitespace-nowrap">
              <ul class="list-inside space-y-4">
                {#each client.jobs as job}
                  <li class="flex items-center justify-center">
                    {job.lead || 'BT'}
                  </li>
                {/each}
              </ul>
            </td>
            <td class="p-4 text-zinc-700 whitespace-nowrap">
              <ul class="space-y-4">
                {#each client.jobs as job}
                  <li class="flex items-center justify-center">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path></svg>
                  </li>
                {/each}
              </ul>
            </td>
          </tr>
          {/each}
        </tbody>
      </table>
    </div>
  </section>
</main>


