<script>
  import {
    KeyIcon,
    MailIcon,
    InboxIcon,
    HomeIcon,
    MenuIcon,
    ClockIcon,
    ColumnsIcon,
    UserIcon,
    DatabaseIcon,
    BookmarkIcon,
    CompassIcon,
    ActivityIcon,
    PlusCircleIcon,
    ListIcon,
    XCircleIcon,
    ArrowRightCircleIcon,
    ArrowLeftCircleIcon
  } from 'svelte-feather-icons';
  // import GithubIcon from './social-icons/GithubIcon.svelte'
  // import GitlabIcon from './social-icons/GitlabIcon.svelte'
  // import BitbucketIcon from './social-icons/BitbucketIcon.svelte'
  // import DiscordIcon from './social-icons/DiscordIcon.svelte'
  const map = {
    mail: MailIcon,
    key: KeyIcon,
    inbox: InboxIcon,
    home: HomeIcon,
    menu: MenuIcon,
    clock: ClockIcon,
    columns: ColumnsIcon,
    user: UserIcon,
    database: DatabaseIcon,
    bookmark: BookmarkIcon,
    compass: CompassIcon,
    activity: ActivityIcon,
    plusCircle: PlusCircleIcon,
    list: ListIcon,
    close: XCircleIcon,
    arrowRight: ArrowRightCircleIcon,
    arrowLeft: ArrowLeftCircleIcon
  }
  export let name
  export let size = 10
</script>

<svelte:component this={map[name]} {size}/>