<script context="module">
	import { supabaseServerClient, withPageAuth } from '@supabase/auth-helpers-sveltekit';
	/**
	 * @type {import('@sveltejs/kit').Load}
	 */
	export const load = async ({ session, params }) =>
		withPageAuth(
			{
				user: session.user
			},
			async () => {
				const { data } = await supabaseServerClient(session.accessToken)
        .from('organisations')
        .select(`
          *,
          jobs (*),
          contracts (*)
        `)
        .eq('id', params.id)
        .single()

				return {
          props: {
            data
          }
        };
			}
		);
</script>

<script>
  export let data;
</script>

<div class="">
  <div class="w-full bg-zinc-100 px-3 py-2 flex mb-3">
    <a href="/data">Explorer</a>
    <span class="px-2">
      >
    </span>
    <a href="{data.id}">{data.abbr_name}</a>
  </div>

  <div class="grid gap-6">
    {#each data.contracts as contract}
      <a href="contracts/{contract.id}">{contract.name}</a>
    {/each}
  </div>

  {JSON.stringify(data)}
</div>