<script context="module">
	import { supabaseServerClient, withPageAuth } from '@supabase/auth-helpers-sveltekit';
	/**
	 * @type {import('@sveltejs/kit').Load}
	 */
	export const load = async ({ session }) =>
		withPageAuth(
			{
				user: session.user
			},
			async () => {
				const { data } = await supabaseServerClient(session.accessToken)
        .from('organisations')
        .select('*')
        .order('abbr_name',
          {
            ascending: true
          })
				return {
          props: {
            data
          }
        };
			}
		);
</script>

<script>
	export let data;
</script>

<div class="">
  <p>server-side fetched data with RLS:</p>
  <!-- <pre>{JSON.stringify(data, null, 2)}</pre> -->

  <div class="grid grid-cols-3">
    {#each data as item}
      <div >
        <a href="organisations/{item.id}">{item.abbr_name}</a>
      </div>
    {/each}
  </div>
</div>