<script>
  import Icon from '$lib/ui/icon/index.svelte';
  export let primary = false
  export let size = 'sm'
  export let loading = false
  export let icon = null
  export let style = {}
  $: styleString = Object.entries(style).map(([key, value]) => {
    return `${key}: ${value}`
  }).join(';')
</script>

<button class={size} class:primary style={styleString} on:click disabled={loading}>
  {#if icon}
    <span class="icon">
      <Icon name={icon} size=18/>
    </span>
  {/if}
  <span><slot/></span>
</button>

<style lang="postcss">
  button {
    @apply text-zinc-600 border border-zinc-200 cursor-pointer;
    border-color: rgba(224, 224, 224);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    text-align: center;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    border-radius: 0.25rem;
    font-family: inherit;
    font-weight: inherit;
  }
  button.primary {
    @apply bg-zinc-400 border-transparent text-zinc-50;
  }
  button.primary:hover {
    @apply bg-zinc-700;
  }
  .icon {
    @apply flex;
  }
  button.lg {
    @apply text-base leading-6 px-2 py-1;
  }
</style>