<script>
  import Icon from '$lib/ui/icon/index.svelte';
  export let block = false
  export let menuOne = false
  export let menuTwo = false
  export let nav = false
  export let primary = false
  export let size = 'sm'
  export let loading = false
  export let icon = null
  export let style = {}
  $: styleString = Object.entries(style).map(([key, value]) => {
    return `${key}: ${value}`
  }).join(';')
</script>

<button class:menuOne class:menuTwo class:block class={size} class:nav class:primary style={styleString} on:click disabled={loading}>
  {#if icon}
    <span class="icon">
      <Icon name={icon} size=18/>
    </span>
  {/if}
  <span><slot/></span>
</button>

<style lang="postcss">
  button {
    color: #444;
    text-shadow: 0px 0px 4px rgb(38 111 78 / 50%);
    background: none;
    border-color: rgba(224, 224, 224);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    text-align: center;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    border-radius: 0.25rem;
    font-family: inherit;
    font-weight: inherit;
  }
  button.primary {
    @apply bg-zinc-900 border-transparent text-zinc-50;
  }
  .icon {
    @apply flex;
  }
  button.menuOne {
    @apply absolute border-0 flex items-center justify-center text-zinc-900 bg-zinc-300 z-50 top-14 h-8 w-8 px-2 py-1 left-14;
  }
  button.menuTwo {
    @apply absolute border-0 flex items-center justify-center text-zinc-900 bg-zinc-300 z-50 top-24 h-8 w-8 px-2 py-1 left-14;
  }
  button.lg {
    @apply text-base leading-6 px-4 py-2;
  }
  button.nav {
    @apply h-8 w-8 flex items-center justify-center; 
  }
  button.block {
    @apply flex items-center justify-center space-x-2;
  }
</style>