<button on:click|preventDefault><slot/></button>

<style>
  button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(62, 207, 142);
  }
</style>