<script>
  import { supabaseClient } from '$lib/db';
  import { session } from '$app/stores';
  import Input from '$lib/ui/form/element/input.svelte';
  import Select from '$lib/ui/form/element/select.svelte';

  let regions = [];
  let tradeSectors = []
  let organisationTypes = []
  let clients = [];
  let contracts = [];

  async function loadData() {
    
    const { data: clientsData } = await supabaseClient
    .from('organisations')
    .select('*');

    const { data: contractsData } = await supabaseClient
    .from('contracts')
    .select('*');

    const { data: projectsData } = await supabaseClient
    .from('projects')
    .select('*');

    const { data: jobsData } = await supabaseClient
    .from('jobs')
    .select(`
      *
    `);

    const { data: departmentData } = await supabaseClient
    .from('departments')
    .select('*');

    const { data: productAreasData } = await supabaseClient
    .from('product_areas')
    .select('*');

    const { data: activityTypesData } = await supabaseClient
    .from('activity_types')
    .select('*');

    const { data: organisationTypesData } = await supabaseClient
    .from('organisation_types')
    .select('*');

    const { data: regionsData } = await supabaseClient
    .from('regions')
    .select('*');

    const { data: tradeSectorsData } = await supabaseClient
    .from('trade_sectors')
    .select('*');


    clients = clientsData;
    contracts = contractsData;
    // projects = projectsData;
    // jobs = jobsData;

    // departments = departmentData;
    // productAreas = productAreasData;
    // activityTypes = activityTypesData;
    organisationTypes = organisationTypesData;
    regions = regionsData;
    tradeSectors = tradeSectorsData;

  	}
	$: {
		if ($session.user && $session.user.id) {
			loadData();
		}
	};

  let name = '';
  let abbr_name = '';
  let legal_name = '';
  let region = '';
  let tradeSector = '';
  let organisationType = '';
  let client = {
    id: '',
    abbr_name: ''
  };
  let contract = '';

  let loading;

  let selectedType = '';

  async function submitForm() {

    if (selectedType == 'organisations') {
      const { data, error } = await supabaseClient
      .from(selectedType)
      .insert([
        {
          abbr_name: abbr_name,
          legal_name: legal_name,
          region: region || null,
          trade_sector: tradeSector || null,
          organisation_type: organisationType || null
        }
      ])
    } else if (selectedType == 'contracts') {
      const { data, error } = await supabaseClient
      .from(selectedType)
      .insert([
        {
          name: name,
          purchaser_id: client || null
        }
      ])
    } else if (selectedType == 'projects') {
      const { data, error } = await supabaseClient
      .from(selectedType)
      .insert([
        {
          name: name,
          contract: contract || null,
          region: region || null,
          trade_sector: tradeSector || null,
          organisation_type: organisationType || null
        }
      ])
    } else if (selectedType == 'orders') {
      const { data, error } = await supabaseClient
      .from('jobs')
      .insert([
        {
          name: name,
          code: code,
          organisation_id: client.id || null
        }
      ])
    } else {
      const { data, error } = await supabaseClient
      .from(selectedType)
      .insert([
        {
          name: name
        }
      ])
    };

    }

  let dataTypes = [
    {
      name: 'Organisation',
      value: 'organisations'
    },
    {
      name: 'Contract',
      value: 'contracts'
    },
    {
      name: 'Project',
      value: 'projects'
    },
    {
      name: 'Order',
      value: 'orders'
    },
    {
      name: 'Department',
      value: 'departments'
    },
    {
      name: 'Product Area',
      value: 'product_areas'
    },
    {
      name: 'Activity Type',
      value: 'activity_types'
    },
    {
      name: 'Organisation Type',
      value: 'organisation_types'
    },
    {
      name: 'Region',
      value: 'regions'
    },
    {
      name: 'Trade Sector',
      value: 'trade_sectors'
    }
  ]

  $: code = `${name} - ${client.id}`;
</script>

<form on:submit|preventDefault={submitForm} class="flex flex-col">

  <div class="flex flex-col space-y-6">
    <div class="space-y-3">
      <h2 class="text-xl">
        Data Entry Form
      </h2>
      <p>
        Please use this form to add new data to the database.
      </p>
      <p>
        Select a data type, fill in the data, then submit and refresh the system (<span class="italic">real-time updates are possible</span>).
      </p>

    </div>

  <div class="bg-zinc-300 pt-3 p-6 text-sm">
    <label for="type">Data Type</label>
    <select name="type" id="type" bind:value={selectedType}>
      {#each dataTypes as type}
        <option value={type.value}>{type.name}</option>
      {/each}
    </select>
  </div>

  <div class="space-y-3">
    {#if selectedType == "organisations"}
      <Input
        name="abbr_name"
        type="text"
        label="Abbreviated Name"
        bind:value={abbr_name}/>
  
      <Input
        name="legal_name"
        type="text"
        label="Legal Name"
        bind:value={legal_name}/>
  
      <Select name='Region' resource={regions} bind:selected={region}></Select>
  
      <Select name='Trade Sector' resource={tradeSectors} bind:selected={tradeSector}></Select>
  
      <Select name='Organisation Type' resource={organisationTypes} bind:selected={organisationType}></Select>
  
    {:else if selectedType == 'contracts'}
      <Input
        name="name"
        type="text"
        label="Contract Name"
        bind:value={name}/>
  
  
      <Select name='Purchaser' resource={clients} bind:selected={client}></Select>
  
    {:else if selectedType == 'projects'}
      <Input
        name="name"
        type="text"
        label="Project Name"
        bind:value={name}/>
  
      <Select name='Contract' resource={contracts} bind:selected={contract}></Select>
  
      <Input
        name="project_code"
        type="text"
        label="Project Code"
        bind:value={code}/>
        
      <Select name='Region' resource={regions} bind:selected={region}></Select>
  

      <Select name='Trade Sector' resource={tradeSectors} bind:selected={tradeSector}></Select>
  
      <Select name='Organisation Type' resource={organisationTypes} bind:selected={organisationType}></Select>

    {:else if selectedType == 'orders'}
      <Select name='Client' resource={clients} bind:selected={client.id}></Select>

      <Input
        name="name"
        type="text"
        label="Name"
        bind:value={name}/>

      <Input
        name="project_code"
        type="text"
        label="Project Code"
        bind:value={code}/>
  
  
    {:else if selectedType}
      <Input
        name="name"
        type="text"
        label="Name"
        bind:value={name}/>
  
    {/if}
  </div>

  </div>

  {#if selectedType}
  <div class="my-3">
    <Input
    name="button"
    type="submit"
    value={loading ? 'Loading ...' : 'Add Data'}/>
  </div>

  {:else}
  
  <div class="text-zinc-600 pt-3 space-y-3">
    <p>
      This is a demonstration of functionality and currently has no form validation.
    </p>
    
    <p>
      Also, external data (clients, orders, etc) should be separate from internal system data (product areas, regions, etc).
    </p>
  </div>
  {/if}

</form>


<style lang="postcss">
  select {
    @apply border border-zinc-300 bg-white rounded-sm w-full shadow-inner px-2 py-1 text-sm mt-2;
  }
</style>