<script>
  import { session } from '$app/stores';
	import { supabaseClient } from '$lib/db';

  import Input from '$lib/ui/form/element/input.svelte';
	// export let data;
	// export let user;

  let loading;
  let message = '';
  let profile = {};

  async function getProfile() {
    const { data, error } = await supabaseClient
    .from('profiles')
    .select('*')
    .eq('id', $session.user.id)
    .maybeSingle()

    if (data) {
      profile = data;
    }
  };

  $: {
    if ($session.user && $session.user.id) {
      getProfile();
    }
  };

  async function submitForm() {
    const { data, error } = await supabaseClient
    .from('feedback')
    .insert([
      {
        message: message,
        user: $session.user.id
       }
    ])
    resetForm();
  };

  function resetForm() {
    message = ''
  };
</script>

<form on:submit|preventDefault={submitForm} class="flex flex-col space-y-3">

  <div class="space-y-3">
    <h2 class="text-xl">
      Feedback to Kyle
    </h2>
    <p>
      Please use this form to send any bug reports, ideas, thoughts, etc directly to Kyle (<span class="italic">this feeds into nekta.dev</span>).
    </p>
  </div>

  <Input
    name="message"
    type="textarea"
    placeholder="Write message here.."
    bind:value={message} />

  <div>
    <Input
      name="button"
      type="submit"
      value={loading ? 'Loading ...' : 'Submit Feedback'}/>
  </div>

  <div class="text-zinc-600 pt-12 space-y-3">
    <p>
      This form will be here to facilitate quick and easy feedback whilst the system is in development.
    </p>
    <p>
      Upon completion of the onboarding process, user documentation, FAQs, etc, we can merge this feedback loop into the "Help & Support" section.
    </p>
  </div>
</form>