<script>
  import { goto } from '$app/navigation';
  export let menu = {};
</script>

<aside class="w-64 h-full fixed bg-zinc-100">
  <div class="h-12 flex items-center pl-12 bg-zinc-200">
    {#if menu.name}
    <a href={menu.url}>
      {menu.name}
    </a>
    {/if}
  </div>
  <div class="divide-y last:border-b">
    {#each menu.navs as nav}
    <div class="w-full px-3 h-12 flex items-center hover:bg-zinc-50" on:click={() => goto(nav.url)}>
      <a href={nav.url}>
        {nav.text}
      </a>
    </div>
    {/each}
  </div>
</aside>