<script>
  export let item;
  export let header = false;

  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  function sayHello(item) {
    dispatch('message', {
      resource: item
    });
  };

</script>

<div class:header class:item on:click={() => sayHello(item)}>
  {item}
</div>

<style lang="postcss">
.item {
  @apply border px-2 py-1;
}

.item.header {
  @apply font-semibold;
}
</style>