<script>
  import Menu from '$lib/ui/menu/index.svelte';
  import Button from '$lib/ui/button/index.svelte';
  
  function toggleMenu() {
  menu.open = !menu.open;
}

let menu = {
  open: false,
  name: 'User Account',
  url: '/auth',
  navs: [
    {
      url: '/auth',
      text: 'Account'
    },
    {
      url: '/auth/preferences',
      text: 'Preferences'
    },
    {
      url: '/auth/profile',
      text: 'Profile'
    },
    {
      url: '/auth/settings',
      text: 'Settings'
    },
    {
      url: '/auth/security',
      text: 'Security'
    }
  ]
};

</script>

{#if menu.open}
<Menu {menu}></Menu>
<Button menuOne icon="arrowLeft" on:click={() => toggleMenu()}></Button>
{:else}
<Button menuOne icon="arrowRight" on:click={() => toggleMenu()}></Button>
{/if}

<div class="p-12 w-full {menu.open ? 'ml-64' : 'ml-0'}">
  <slot></slot>
</div>