<script>
  import { supabaseClient } from "$lib/db";
  import Button from '$lib/ui/button/index.svelte';
  import Input from '$lib/ui/form/element/input.svelte'; 
  import { onMount } from "svelte";
  
  // USER object from endpoint (locals.user)
	export let user;

  let loading;

  let username = null;
  let first_name = null;
  let last_name = null;
  let initials = null;
  let email = user.email;

  async function getProfile() {
    const { data } = await supabaseClient
    .from('profiles')
    .select('*')
    .eq('id', user.id)
    .single()

    if (data) {
      username = data.username;
      first_name = data.first_name;
      last_name = data.last_name;
      initials = data.initials;
      email = data.email;
    }

  }

  onMount(() => {
    getProfile();
  })
  // async function getProfile() {
  //   try {
  //     loading = true
  //     const user = supabaseClient.auth.user()

  //     let { data, error, status } = await supabaseClient
  //       .from('profiles')
  //       .select(`username, website, avatar_url`)
  //       .eq('id', user.id)
  //       .single()

  //     if (error && status !== 406) throw error

  //     if (data) {
  //       username = data.username
  //       website = data.website
  //       avatar_url = data.avatar_url
  //     }
  //   } catch (error) {
  //     alert(error.message)
  //   } finally {
  //     loading = false
  //   }
  // }

  async function updateProfile() {
    try {

      loading = true;

      const updates = {
        id: user.id,
        username,
        first_name,
        last_name,
        initials,
        updated_at: new Date()
      };

      const { error } = await supabaseClient
      .from('profiles')
      .upsert(updates, {
        returning: 'minimal'
      });

      if (error) throw error
    } catch (error) {
      alert(error.message);
    } finally {
      loading = false;
    }
  };

 
</script>

<div>
  <h3 class="text-lg">
    Welcome, {first_name}
  </h3>
</div>

  <form class="form-widget p-12" on:submit|preventDefault={updateProfile}>
    <div>
      <label for="email">Email</label>
      <Input
        name="email"
        type="text"
        bind:value={user.email}
        disabled
      />
    </div>
    <div class="flex flex-col w-64">
      <label for="first_name">First Name</label>
      <Input
        name="first_name"
        type="text"
        bind:value={first_name}
      />
      <label for="last_name">Last Name</label>
      <Input
        name="last_name"
        type="text"
        bind:value={last_name}
      />
      <label for="initials">Initials</label>
      <Input
        name="initials"
        type="text"
        bind:value={initials}
      />
    </div>
    <div>
      <input type="submit" class="button block primary" value={loading ? 'Loading ...' : 'Update'} disabled={loading}/>
    </div>

    <div>
      <Button primary size="lg" on:click={async () => await supabaseClient.auth.signOut()}>
        Sign out
      </Button>
    </div>
  </form>
