<script>
  import { panel } from '$lib/stores';
  import TimeEntry from '$lib/ui/form/timeEntry.svelte';
  import DataEntry from '$lib/ui/form/dataEntry.svelte';
  import Feedback from '$lib/ui/form/feedback.svelte';

  $: view = $panel.view;

</script>

{#if $panel.isOpen}
<aside class="fixed top-12 right-0 w-96 h-calc z-50 bg-zinc-200 p-6">
  {#if $panel.view == 'time'}
  <TimeEntry></TimeEntry>
  {:else if $panel.view == 'data'}
  <DataEntry></DataEntry>
  {:else if $panel.view == 'feedback'}
  <Feedback></Feedback>
  {/if}
</aside>
{/if}