<script context="module">
	import { supabaseServerClient, withPageAuth } from '@supabase/auth-helpers-sveltekit';
	/**
	 * @type {import('@sveltejs/kit').Load}
	 */
	export const load = async ({ session, params }) =>
		withPageAuth(
			{
				user: session.user
			},
			async () => {
				const { data } = await supabaseServerClient(session.accessToken)
        .from('contracts')
        .select(`
          *,
          purchaser_id (*),
          projects (*)
        `)
        .eq('id', params.id)
        .single()

				return {
          props: {
            data
          }
        };
			}
		);
</script>

<script>
  export let data;
</script>

<div class="">
  <div class="flex">
    <a href="/data">Explore</a>
    <span class="px-2">
      >
    </span>
    <a href="/data/organisations/{data.purchaser_id.id}">{data.purchaser_id.abbr_name}</a>
    <span class="px-2">
      >
    </span>
    <a href="{data.id}">{data.name}</a>
  </div>
  {JSON.stringify(data)}
</div>