<script context="module">
	import { supabaseServerClient, withPageAuth } from '@supabase/auth-helpers-sveltekit';
	/**
	 * @type {import('@sveltejs/kit').Load}
	 */
	export const load = async ({ session }) =>
		withPageAuth(
			{
				user: session.user
			},
			async () => {
				const { data } = await supabaseServerClient(session.accessToken)
        .from('contracts')
        .select('*')
        .order('name',
          {
            ascending: true
          })
				return {
          props: {
            data
          }
        };
			}
		);
</script>

<script>
	export let data;
</script>

<div class="">
  <p>server-side fetched data with RLS:</p>
  <!-- <pre>{JSON.stringify(data, null, 2)}</pre> -->

  <div class="grid gap-6">
    {#each data as item}
      <div class="px-3 py-2 border">
        <a href="contracts/{item.id}">{item.name}</a>
      </div>
    {/each}
  </div>
</div>