<script>
  import Menu from '$lib/ui/menu/index.svelte';
  import Button from '$lib/ui/button/index.svelte';
  
  function toggleMenu() {
  menu.open = !menu.open;
}

  let menu = {
    open: false,
    name: 'Time Accounting',
    url: '/time',
    navs: [
      {
        url: '/time',
        text: 'Dashboard'
      },
      {
        url: '/time/sheets',
        text: 'My Time'
      },
      {
        url: '/time/table',
        text: 'All of Us'
      }
    ]
  };

</script>

{#if menu.open}
<Menu {menu}></Menu>
<Button menuOne icon="arrowLeft" on:click={() => toggleMenu()}></Button>
{:else}
<Button menuOne icon="arrowRight" on:click={() => toggleMenu()}></Button>
{/if}

<div class="p-12 w-full {menu.open ? 'ml-64' : 'ml-0'}">
  <slot></slot>
</div>