<!-- <script context="module">
	import { supabaseServerClient, withPageAuth } from '@supabase/auth-helpers-sveltekit';
	/**
	 * @type {import('@sveltejs/kit').Load}
	 */
	export const load = async ({ session }) =>
		withPageAuth(
			{
				user: session.user
			},

			async () => {
				const { data: myTimeEntries } = await supabaseServerClient(session.accessToken)
        .from('time_entries')
        .select(`
        *,
        subject:name,
        departments (*),
        product_areas (*),
        projects (
          *,
          contracts (
            *,
            clients:organisations (*)
          )
        ),
        jobs (
          *,
          clients:organisations (*)
          )
        `)
        .eq('user', session.user.id)
        // .is('department', null)
        // .is('project', null)
        .order('date', {
          ascending: false
        });

        // console.log(time);


				return {
          props: {
            myTimeEntries,
            user: session.user
          }
        };
			}
		);
</script> -->

<script>
import { supabaseClient } from '$lib/db';
import Table from "$lib/ui/layout/table.svelte";
import Menu from "$lib/ui/menu/index.svelte";
import Button from "$lib/ui/button/index.svelte";
import Select from '$lib/ui/form/element/select.svelte';
import { onMount } from 'svelte';

  // export let myTimeEntries;

  let allTimeEntries = [];

  async function getAllTimeEntries() {
    const { data } = await supabaseClient
      .from('time_entries')
      .select(`
      *,
      subject:name,
      departments (*),
      product_areas (*),
      projects (
        *,
        contracts (
          *,
          clients:organisations (*)
        )
      ),
      jobs (
        *,
        clients:organisations (*)
        )
      `)
      .eq('user', profile.id)
      // .is('department', null)
      // .is('project', null)
      .order('date', {
        ascending: false
      });

      allTimeEntries = data;

    }

  // let array = [1,2,3,4,5];

  let desiredId = 1;

  // let result = myTimeEntries.filter((el, i) => i === desiredId);

  // let groupByDate = myTimeEntries.reduce((group, entry) => {
  //   const { date } = entry;
  //   group[date] = group[date] ?? [];
  //   group[date].push(entry)
  //   return group;
  // }, {});

  onMount(() => {
    getAllTimeEntries();
    getProfiles();
    getProfile();
    // console.log(groupByDate);
  })


  // $: jobClient = clients.filter(client => client.id = time[0].jobs.organisation_id )

  // function createDataObject() {
  //   Object.fromEntries()
  // }

let headers = ['Date', 'Subject', 'Duration', 'Work', 'Information']

function toggleMenu() {
  menu.open = !menu.open;
}

let menu = {
  open: false,
  name: 'Time Keeper',
  url: '/time',
  navs: [
    {
      url: '/time',
      text: 'Dashboard'
    },
    {
      url: '/time/table',
      text: 'Timesheets'
    },
    {
      url: '/time/sheets',
      text: 'Timesheets'
    }
  ]
};

let profiles = [];

let profile = {
  username: '',
  id: ''
};

async function getProfiles() {
  const { data } = await supabaseClient
  .from('profiles')
  .select('*')

  console.log(data);

  if (data) {
    profiles = data;
  }
};

async function getProfile() {
  const { data } = await supabaseClient
  .from('profiles')
  .select('*')
  .eq('id', profile.id)
  .maybeSingle()

  console.log(data);

  if (data) {
    profile = data;
  }
}



</script>

{#if menu.open}
<Menu {menu}></Menu>
<Button menuOne icon="arrowLeft" on:click={() => toggleMenu()}></Button>
{:else}
<Button menuOne icon="arrowRight" on:click={() => toggleMenu()}></Button>
{/if}

<div class="p-12 space-y-6 {menu.open ? 'ml-64' : 'ml-0'}">

  <div class="w-full flex justify-between items-center">
    <h1 class="text-lg">
      Time Entries
    </h1>
    <div class="flex">
      <Select name='' resource={profiles} bind:selected={profile.id}></Select>
      <Button nav icon="home" on:click={() => getAllTimeEntries()}></Button>
    </div>
  </div>


  <Table {headers} data={allTimeEntries}></Table>

  <!-- <List>
    {#each myTimeEntries as entry}
    <ItemStrip>
      {#if entry.subject}
      {entry.subject}
      {:else}
      No Subject
      {/if}
    </ItemStrip>
    {/each}
  </List> -->

  <!-- <ul class="flex flex-col space-y-6">
    {#each myTimeEntries as entry}

    <li>

      <p>
        Subject: {entry.subject}
      </p>
      <p>
        Date: {entry.date}
      </p>
      <p>
        Mins: {entry.duration}
      </p>

      <div class="border">
        {#if entry.departments != null}
          <p>
            Dept: {entry.departments.name}
          </p>
          {#if entry.product_areas != null}
          <p>
            Product Area: {entry.product_areas.name}
          </p>
          {/if}
         
          {:else if entry.projects != null}
          <p>
            Purchaser: {entry.projects.contracts.clients.abbr_name}
          </p>
          <p>
            Contract: {entry.projects.contracts.name}
          </p>
          <p>
            Project: {entry.projects.name}
          </p>
  
          {:else if entry.jobs != null}
          Order: {entry.jobs.name}
  
          {:else}
  
          <p>Error: unassigned time entry</p>
        {/if}
      </div>

    </li> -->



    <!-- <ul on:click={() => console.log(entry)}>
      <li>
        Subject: {entry.name}
      </li>
      <li>
        Date: {entry.date}
      </li>
      <li>
        Mins: {entry.duration}
      </li>

      {#if entry.department != null}
        <li>
          Department:
          {#each departments as department}
            {#if department.id == entry.department}
              {department.name}
            {/if}
          {/each}
        </li>
          
        <li>
          Product Area:
          {#each productAreas as productArea}
            {#if productArea.id == entry.product_area}
              {productArea.name}
            {/if}
          {/each}
        </li>      

      {:else if entry.project != null}
      <li>
        {#each projects as project}
          {#if project.id == entry.project}
            {#each contracts as contract}
              {#if contract.id == project.contract}
              {#each clients as client}
              {#if client.id == contract.purchaser_id}
                Purchaser:
                  {client.abbr_name}
                {/if}
              {/each}
              <br/>
              Contract:
                {contract.name}
              {/if}
            {/each}
          {/if}
        {/each}
      </li>

        <li>
          Project:
          {#each projects as project}
            {#if project.id == entry.project}
              {project.name}
            {/if}
          {/each}
        </li>

      {:else if entry.job != null}
        <li>
          Client:
          {#each jobs as job}
            {#if job.id == entry.job}
              {#each clients as client}
                {#if client.id == job.organisation_id}
                  {client.abbr_name}
                {/if}
              {/each}
            {/if}
          {/each}
        </li>

      <li>
          Order:
          {#each jobs as job}
            {#if job.id == entry.job}
              {job.name}
            {/if}
          {/each}
        </li>

        {:else}

        <li>
          <p class="text-red-700">
            Error: time entry is unassigned
          </p>
        </li>
      {/if}

       {jobClient} -->


    <!-- </ul> -->
    <!-- {/each} -->
  <!-- </ul> -->
</div>