<script>
	import Auth from '$lib/ui/auth/index';
	import { error, isLoading } from '@supabase/auth-helpers-svelte';
	import { supabaseClient } from '$lib/db';
	import { session } from '$app/stores';
  import { goto } from '$app/navigation';

	let data = [];
  let profile = {};

  async function loadData() {
		const { data:loadedData } = await supabaseClient
      .from('departments')
      .select('*')

    const { data:profileData } = await supabaseClient
    .from('profiles')
    .select('*')
    .eq('id', $session.user.id)
    .single()

    if (data && profileData) {
      profile = profileData;
      data = loadedData;
    }
	}
	$: {
		if ($session.user && $session.user.id) {
			loadData();
		}
	}

  function navigate(url) {
    goto(url);
  }

  let options = [
    {
      url: '/time/sheets',
      text: 'Time Sheets'
    },
    {
      url: '/data/reports',
      text: 'Generate Reports'
    },
    {
      url: '/data/table',
      text: 'Explore Data'
    }
  ];
  let metrics = [1,2,3,4];
</script>

<div class="w-full flex flex-col space-y-4">

  <h1 class="text-2xl -mt-2 mb-2">
    Time Dashboard
  </h1>

  <div class=" grid">
    <div class="bg-zinc-100 hover:bg-zinc-200 h-36 p-3">
      <h3 class="text-lg">
        Time Series Data
      </h3>
    </div>
  </div>

  <div class="border-t-2 border-dashed border-zinc-100"></div>

  <div class="h-96 grid grid-cols-3 gap-6">
    <div class="col-span-2 bg-zinc-100 hover:bg-zinc-200 p-3">
      <h3 class="text-lg">
        Bar Chart
      </h3>
    </div>
    <div class=" bg-zinc-100 hover:bg-zinc-200 p-3">
      <h3 class="text-lg">
        List
      </h3>
    </div>
  </div>

  <div class="border-t-2 border-dashed border-zinc-100"></div>
 
  <div class="grid grid-cols-4 gap-6">
    {#each metrics as i}
    <div class="bg-zinc-100 hover:bg-zinc-200 h-36 p-3 flex flex-col items-center justify-center space-y-3">
      <h3 class="text-4xl">
        {i}
      </h3>
      <p>
        Metric
      </p>
    </div>
    {/each}
  </div>

</div>
