<script context="module">
	import { supabaseServerClient, withPageAuth } from '@supabase/auth-helpers-sveltekit';
	/**
	 * @type {import('@sveltejs/kit').Load}
	 */
	export const load = async ({ session }) =>
		withPageAuth(
			{
				user: session.user
			},

			async () => {
				const { data } = await supabaseServerClient(session.accessToken)
        .from('time_entries')
        .select(`
        subject:name,
        date,
        duration,
        departments (*),
        activity_types (*),
        product_areas (*),
        projects (
          *,
          contracts (
            *,
            clients:organisations (*)
          )
        ),
        jobs (
          *,
          clients:organisations (*)
          )
        `)
        .eq('user', session.user.id)
        // .is('department', null)
        // .is('project', null)
        .order('date', {
          ascending: false
        });

        // console.log(time);

				return {
          props: {
            data,
            user: session.user
          }
        };
			}
		);
</script>

<script>
  export let data;

  import Table from "$lib/ui/layout/table.svelte";

  let headers = [
    'Date',
    'Subject',
    'Duration',
    'Work Type',
    'Information',
    'Activity Type'
  ];
</script>

<div class="w-full flex flex-col space-y-6">
  <h3 class="text-lg">
    My Time Sheets
  </h3>

  <Table {headers} {data}></Table>
</div>