<script context="module">
	import { supabaseServerClient, withPageAuth } from '@supabase/auth-helpers-sveltekit';
	/**
	 * @type {import('@sveltejs/kit').Load}
	 */
	export const load = async ({ session }) =>
		withPageAuth(
			{
				user: session.user
			},

			async () => {
				const { data } = await supabaseServerClient(session.accessToken)
        .from('time_entries')
        .select(`
        *,
        user (*),
        subject:name,
        departments (*),
        activity_types (*),
        product_areas (*),
        projects (
          *,
          contracts (
            *,
            clients:organisations (*)
          )
        ),
        jobs (
          *,
          clients:organisations (*)
          )
        `)
        // .is('department', null)
        // .is('project', null)
        .order('date', {
          ascending: false
        });

        // console.log(time);

				return {
          props: {
            data,
            user: session.user
          }
        };
			}
		);
</script>

<script>
  import Table from "$lib/ui/layout/table.svelte";
  export let data;

  let headers = [
    'Date',
    'Subject',
    'Duration',
    'Work Type',
    'Information',
    'Activity Type',
    'Worker']

</script>

<div class="w-full flex flex-col space-y-6">
  <h1 class="text-lg">
    All of Us
  </h1>
  <Table {headers} {data}></Table>
</div>
