<script>
  import LinkButton from '$lib/ui/button/link.svelte';
  import Text from '$lib/ui/typography/text.svelte';
  import Button from '$lib/ui/button/index.svelte';
  import Input from '$lib/ui/form/element/input.svelte';
  export let supabaseClient
  export let view
  export let setView
  let error = '', message = '', loading = false, email = '', password = ''
  async function submit() {
    error = ''
    message = ''
    loading = true
    if (view == 'sign_up') {
      const { error: signUpError } = await supabaseClient.auth.signUp({
        email, password
      })
      if (signUpError) error = signUpError.message
    } else if (view == 'sign_in') {
      const { error: signInError } = await supabaseClient.auth.signIn({
        email, password
      })
      if (signInError) error = signInError.message
    }
    loading = false
  }
</script>

<form on:submit|preventDefault={submit} class="flex flex-col space-y-6">
  <div class="flex flex-col space-y-3">
    <Input name="email" type="email" label="Email address" icon="mail" bind:value={email}/>
    <Input name="password" type="password" label="Password" icon="key" bind:value={password}/>
  </div>

  {#if view == 'sign_up'}
    <Button block primary size="lg" {loading} icon="inbox">Sign up</Button>
    <div class="links">
      <LinkButton on:click={() => setView('sign_in')}>Have an account?
        <span class="font-semibold">Sign-in</span>
      </LinkButton>
    </div>
  {:else}
    <Button block primary size="lg" {loading} icon="inbox">Sign in</Button>
    <div class="links">
      <LinkButton on:click={() => setView('sign_up')}>Don't have an account?
        <span class="font-semibold">Sign up</span>
      </LinkButton>
    </div>
  {/if}

  {#if message}
    <Text>{message}</Text>
  {/if}

  {#if error}
    <Text type="danger">{error}</Text>
  {/if}
</form>

<style lang="postcss">
  form {
    @apply flex flex-col;
  }
  .links {
    @apply flex flex-col my-4;
  }
</style>