<script>
  import Menu from '$lib/ui/menu/index.svelte';
  import Button from '$lib/ui/button/index.svelte';
  
  function toggleMenu() {
  menu.open = !menu.open;
}

let menu = {
  open: false,
  name: 'Data Explorer',
  url: '/data',
  navs: [
    {
      url: '/data',
      text: 'Dashboard'
    },
    {
      url: '/data/organisations',
      text: 'Organisations'
    },
    {
      url: '/data/contracts',
      text: 'contracts'
    },
    {
      url: '/data/projects',
      text: 'projects'
    },
    {
      url: '/data/orders',
      text: 'orders'
    },
    {
      url: '/data/organisations',
      text: 'Organisations'
    },
    {
      url: '/data/organisations',
      text: 'Organisations'
    },
  ]
};

let data = {
  loaded: false
};



</script>

{#if menu.open}
<Menu {menu}></Menu>
<Button menuOne icon="arrowLeft" on:click={() => toggleMenu()}></Button>
{:else}
<Button menuOne icon="arrowRight" on:click={() => toggleMenu()}></Button>
{/if}

<div class="p-12 w-full {menu.open ? 'ml-64' : 'ml-0'}">
  <slot></slot>
</div>