<script context="module">
	import { supabaseServerClient, withPageAuth } from '@supabase/auth-helpers-sveltekit';
	/**
	 * @type {import('@sveltejs/kit').Load}
	 */
	export const load = async ({ session }) =>
		withPageAuth(
			{
				user: session.user
			},
			// async () => {
			// 	const { data: organisations } = await supabaseServerClient(session.accessToken)
      //   .from('organisations')
      //   .select('*,name:abbr_name');

			// 	const { data: contracts } = await supabaseServerClient(session.accessToken)
      //   .from('contracts')
      //   .select('*');

			// 	const { data: projects } = await supabaseServerClient(session.accessToken)
      //   .from('projects')
      //   .select('*');

			// 	const { data: orders } = await supabaseServerClient(session.accessToken)
      //   .from('jobs')
      //   .select(`
      //     *,
      //     organisations (*)
      //   `);

			// 	const { data: departments } = await supabaseServerClient(session.accessToken)
      //   .from('departments')
      //   .select('*');

			// 	const { data: productAreas } = await supabaseServerClient(session.accessToken)
      //   .from('product_areas')
      //   .select('*');

			// 	const { data: activityTypes } = await supabaseServerClient(session.accessToken)
      //   .from('activity_types')
      //   .select('*');

			// 	const { data: organisationTypes } = await supabaseServerClient(session.accessToken)
      //   .from('organisation_types')
      //   .select('*');

			// 	const { data: regions } = await supabaseServerClient(session.accessToken)
      //   .from('regions')
      //   .select('*');

			// 	const { data: tradeSectors } = await supabaseServerClient(session.accessToken)
      //   .from('trade_sectors')
      //   .select('*');


			// 	return {
      //     props: {
      //       organisations,
      //       contracts,
      //       projects,
      //       orders,
      //       departments,
      //       productAreas,
      //       activityTypes,
      //       organisationTypes,
      //       regions,
      //       tradeSectors,
      //       user: session.user
      //     }
      //   };
			// }
		);
</script>

<script>
  let organisations = [];
  let contracts = [];
  let projects = [];
  let orders = [];


  let groups = [
    {
      items: [
        'dashboard'
      ]
    },
    {
      name: 'external',
      items: [
        'organisations',
        'contracts',
        'projects',
        'orders'
      ]
    },
    {
      name: 'internal',
      items: [
        'departments',
        'product areas',
        'activity types',
        'organisation types',
        'regions',
        'trade sectors'

      ]
    }
  ];

  let items = [
    'organisations',
    'contracts',
    'projects',
    'orders'
  ]

let data = {
  loaded: false
}

</script>

<div class="space-y-6">
  <h3 class="text-lg">
    Data Dashboard
  </h3>
  
    <div class="grid grid-cols-4 gap-6">
      {#each items as item}
        <a href="/data/{item}" class="bg-zinc-100 px-3 py-2">
          {item}
        </a>
      {/each}
    </div>
  
    <div class="w-full">
      <div class="bg-emerald-400 px-3 py-2">
        Organisations: {organisations.length}
      </div>
      <div class="bg-emerald-400 px-3 py-2">
        Open Contracts: {contracts.length}
      </div>
      <div class="bg-emerald-400 px-3 py-2">
        Active Projects: {projects.length}
      </div>
      <div class="bg-emerald-400 px-3 py-2">
         Open Orders: {orders.length}
      </div>
    </div>
  
  TODOs:
  - Menu
    - UI
    - store
  - Routes
    - index
    - [id]
  - Dashboard
    - UI
    - Data Queries
</div>