<script>
	import { supabaseClient } from '$lib/db';
	import { session } from '$app/stores';

	let data = [];

  async function loadData() {
		const { data:loadedData } = await supabaseClient
      .from('departments')
      .select('*')

    if (data) {
      data = loadedData;
    }
	}
	$: {
		if ($session.user && $session.user.id) {
			loadData();
		}
	}

  let metrics = [1,2,3,4];
</script>

<div class="w-full flex flex-col space-y-4">

  <h1 class="text-2xl -mt-2 mb-2">
    Data Dashboard
  </h1>

  <div class=" grid">
    <div class="bg-zinc-100 hover:bg-zinc-200 h-36 p-3">
      <h3 class="text-lg">
        Line Chart
      </h3>
    </div>
  </div>

  <div class="border-t-2 border-dashed border-zinc-100"></div>

  <div class="h-96 grid grid-cols-3 gap-6">
    <div class="col-span-2 bg-zinc-100 hover:bg-zinc-200 p-3">
      <h3 class="text-lg">
        Radar Chart
      </h3>
    </div>
    <div class=" bg-zinc-100 hover:bg-zinc-200 p-3">
      <h3 class="text-lg">
        List
      </h3>
    </div>
  </div>

  <div class="border-t-2 border-dashed border-zinc-100"></div>
 
  <div class="grid grid-cols-4 gap-6">
    {#each metrics as i}
    <div class="bg-zinc-100 hover:bg-zinc-200 h-36 p-3 flex flex-col items-center justify-center space-y-3">
      <h3 class="text-4xl">
        {i}
      </h3>
      <p>
        Metric
      </p>
    </div>
    {/each}
  </div>

</div>
