<script>
import DataEntry from "../form/dataEntry.svelte";

  export let headers;
  export let data;

  // let order = {
  //   column: 'id',
  //   options: {
  //     ascending: true
  //   }
  // }

</script>

<table>
  <tr>
    {#each headers as header}
    <th>
      <div class="flex items-center justify-between">
        {header}
      </div>
    </th>
    {/each}
  </tr>

  <tbody>
    {#each data as entry}
    <tr>
      <td>{entry.date}</td>
      
      <td>
        {#if entry.subject}
        <p>
          {entry.subject}
        </p>
        {:else}
        <p class="text-yellow-500">Error</p>
        {/if}
      </td>

      <td class="text-xs">
        {#if entry.duration > 0}
          {entry.duration} mins
          {:else}
          <p class="text-yellow-500">Error</p>
        {/if}
      </td>

      <td class="p-4 text-zinc-700 whitespace-nowrap">
        {#if entry.departments != null}
          <div class="flex bg-zinc-100 text-zinc-700 px-3 py-1 rounded text-xs font-medium">
            <p>CAN</p>
          </div>
          {:else}
          <div class="flex bg-zinc-200 text-zinc-700 px-3 py-1 rounded text-xs font-medium">
            <p>Client</p>
          </div>
        {/if}
      </td>

      <td>
        {#if entry.departments != null}
        <p>
          {entry.departments.name}
        </p>
       
        {:else if entry.projects != null}
        <!-- <p>
          <span class="text-zinc-600">Purchaser:</span> {entry.projects.contracts.clients.abbr_name}
        </p>
        <p>
          <span class="text-zinc-600">Contract:</span> {entry.projects.contracts.name}
        </p> -->
        <p>
          {entry.projects.name}
        </p>

        {:else if entry.jobs != null}
        <p>
         {entry.jobs.clients.abbr_name} - {entry.jobs.name}
        </p>
  
        {:else}
  
        <p class="text-yellow-500">Error</p>
        {/if}
      </td>

      <td>
        {#if entry.activity_types != null}
        <p>
          {entry.activity_types.name}
        </p>
        {:else}
        <p class="text-yellow-500">Error</p>
        {/if}
      </td>

      {#if entry.user}
        <td>
          {`${entry.user.first_name} ${entry.user.last_name}`}
        </td>
      {/if}
  
    </tr>
    {/each}
  </tbody>
</table>

<style lang="postcss">
  table {
    @apply border overflow-x-scroll min-w-full text-sm divide-y divide-zinc-200;
  }

  th {
    @apply p-4 font-medium text-left text-zinc-900 bg-zinc-50 whitespace-nowrap;
  }


  tbody {
    @apply divide-y divide-zinc-100;
  }
  tr {
    @apply divide-x divide-zinc-50 ;
  }
  td {
    @apply px-3 py-4;
  }

</style>
