<script>
  import EmailAuthView from '$lib/ui/auth/view/email.svelte';
  import ResetAuthView from '$lib/ui/auth/view/reset.svelte';
  let classes = ''
  export let supabaseClient
  export { classes as class }
  export let style = ''
  export let view = 'sign_in'
  function setView(newView) {
    view = newView
  }
</script>

<div class="component {classes}" {style}>
  <div class="container">
    {#if view == 'sign_in' || view == 'sign_up'}
      <EmailAuthView {supabaseClient} {view} {setView}/>
    {:else if view == 'forgotten_password'}
      <ResetAuthView {supabaseClient} {setView}/>
    {/if}
  </div>
</div>

<style lang="postcss">
  .component {
    @apply w-full;
  }
  .container {
    @apply flex flex-col;
  }
</style>